LOG_LEVEL=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=service_products
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PORT=8080
READ_TIMEOUT=15s
WRITE_TIMEOUT=15s
IDLE_TIMEOUT=60s
SHUTDOWN_TIMEOUT=30s

LOCALHOST=8080
PRODUCTS_PORT=8082

IMAGE_DIR=/tmp/images